<link href="/css/Menu1.css" rel="stylesheet">

<div class="header">
  <img src="/images/Restaurante1.jpg" alt="Imagen del Restaurante" class="header-image">
  <div class="header-content">
      <h1>Pollo Parrilla Regia</h1>
      <div class="header-details">
          <span class="rating">4.9 ★</span>
          <span class="reviews">(55)</span>
          <span class="delivery-cost">• Costo de envío: $17.00 MXN</span>
          <span class="info">• Información</span>
      </div>
      <p class="status">Cierra en 2 min. Haz un pedido rápidamente o considera elegir otra opción</p>
  </div>
</div>

<div class="contenedor">
  <aside class="menu-sidebar">
      <h3>Menú</h3>
      <ul>
          <% if (typeof menu !== 'undefined' && menu && menu.length > 0) { %>
              <% menu.forEach(seccion => { %>
                  <li><a href="#<%= seccion.seccionId %>"><%= seccion.nombreSeccion %></a></li>
              <% }); %>
          <% } else { %>
              <li>No hay secciones disponibles</li>
          <% } %>
      </ul>
  </aside>
  
  <main class="contenido">
      <% if (typeof menu !== 'undefined' && menu && menu.length > 0) { %>
          <% menu.forEach(seccion => { %>
              <div class="<%= seccion.seccionId %>" id="<%= seccion.seccionId %>">
                  <h2><%= seccion.nombreSeccion %></h2>
                  <div class="card-grid">
                      <% seccion.productos.forEach(producto => { %>
                          <div class="card">
                              <img src="/images/<%= producto.imagen %>" alt="<%= producto.nombre %>">
                              <div class="card-info">
                                  <p class="nombre-producto"><%= producto.nombre %></p>
                                  <span class="precio-total">$<%= producto.precio.toFixed(2) %></span>
                                  <span class="precio-base" style="display: none;"><%= producto.precio %></span>
                              </div>
                              <button class="add-button">+</button>
                              <div class="agregar-carrito-container" style="display: none;">
                                <button class="btn-agregar-carrito" 
                                        onclick="mostrarDatosProducto(this)"
                                        data-nombre="<%= producto.nombre %>"
                                        data-precio="<%= producto.precio %>">
                                    Agregar al carrito
                                </button>
                              </div>
                          </div>
                      <% }); %>
                  </div>
              </div>
          <% }); %>
      <% } else { %>
          <p>No hay productos disponibles</p>
      <% } %>
  </main>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/JS/Menu.js"></script>
